* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  background-color: #263d54;
  color: rgb(0, 0, 0);
  font-family: monospace;
}

header {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  text-align: center;
  height: auto;
  width: auto;
  background-color: #e4e4e4;
}

footer {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  text-align: center;
  height: auto;
  width: auto;
  background-color: #e4e4e4;
  flex-direction: column;
  flex-wrap: wrap;
}

section {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  background-color: #e4e4e4;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

table {
  background-color: white;
  border-radius: 5px;
  color: black;
}

th,
tr,
td {
  padding: 1px 1px 1px 1px;
  border-style: solid;
  border-width: 2px;
  border-color: #263d54;
  border-radius: 3px;
  text-align: center;
}

input {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  padding: 0;
  width: 150px;
  height: 25px;
  border-style: none;
  text-align: center;
}

a {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

div {
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  /* margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px; */
}

h1 {
  text-align: center;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

/*Clases*/

.blue {
  background-color: #263d54;
}

.red {
  background-color: #bf1b27;
}

.divEnunciado {
  justify-content: center;
}

.calculadora {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  background-color: #e4e4e4;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

.boton {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  color: bisque;
  background-color: #bf1b27;
  cursor: pointer;
}

.navBar {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  list-style-type: none;
  justify-content: space-evenly;
  display: flex;
}

.navBar ul {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.navBar ul li {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cuadroSeleccion {
  width: 200px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.classNavegacion {
  display: flex;
  justify-content: space-between;
}

.classPreSeccion {
  display: flex;
  justify-content: left;
  align-items: center;
}

.aside {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  height: 200px;
  width: auto;
  overflow-y: scroll;
  text-align: justify;
  display: inline-block;
  background-color: #e4e4e4;
  border-radius: 10px;
}

.aside h3 {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.aside h4 {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.aside p {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.aside li {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  list-style-type: none;
}

.classPosSeccion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.classPie {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

/* GRID ASAMBLEA */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "gridListas gridEstatuto";
}

.gridListas {
  grid-area: gridListas;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.gridEstatuto {
  grid-area: gridEstatuto;
}

.containerGrafica {
  display: grid;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-color: #263d54;
  border-style: solid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "as1 as2 as3 as4 as5 as6 as7 as8 as9 as10"
    "as11 as12 as13 as14 as15 as16 as17 as18 as19 as20"
    "as21 as22 as23 as24 as25 as26 as27 as28 as29 as30"
    "as31 as32 as33 as34 as35 as36 as37 as38 as39 as40"
    "as41 as42 as43 as44 as45 as46 as47 as48 as49 as50"
    "as51 as52 as53 as54 as55 as56 as57 as58 as59 as60"
    "as61 as62 as63 as64 as65 as66 as67 as68 as69 as70"
    "as71 as72 as73 as74 as75 as76 as77 as78 as79 as80"
    "as81 as82 as83 as84 as85 as86 as87 as88 as89 as90";
}

.as1 {
  grid-area: as1;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as2 {
  grid-area: as2;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as3 {
  grid-area: as3;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as4 {
  grid-area: as4;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as5 {
  grid-area: as5;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as6 {
  grid-area: as6;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as7 {
  grid-area: as7;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as8 {
  grid-area: as8;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as9 {
  grid-area: as9;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as10 {
  grid-area: as10;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as11 {
  grid-area: as11;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as12 {
  grid-area: as12;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as13 {
  grid-area: as13;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as14 {
  grid-area: as14;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as15 {
  grid-area: as15;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as16 {
  grid-area: as16;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as17 {
  grid-area: as17;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as18 {
  grid-area: as18;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as19 {
  grid-area: as19;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as20 {
  grid-area: as20;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as21 {
  grid-area: as21;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as22 {
  grid-area: as22;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as23 {
  grid-area: as23;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as24 {
  grid-area: as24;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as25 {
  grid-area: as25;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as26 {
  grid-area: as26;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as27 {
  grid-area: as27;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as28 {
  grid-area: as28;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as29 {
  grid-area: as29;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as30 {
  grid-area: as30;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as31 {
  grid-area: as31;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as32 {
  grid-area: as32;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as33 {
  grid-area: as33;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as34 {
  grid-area: as34;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as35 {
  grid-area: as35;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as36 {
  grid-area: as36;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as37 {
  grid-area: as37;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as38 {
  grid-area: as38;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as39 {
  grid-area: as39;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as40 {
  grid-area: as40;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as41 {
  grid-area: as41;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as42 {
  grid-area: as42;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as43 {
  grid-area: as43;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as44 {
  grid-area: as44;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as45 {
  grid-area: as45;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as46 {
  grid-area: as46;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as47 {
  grid-area: as47;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as48 {
  grid-area: as48;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as49 {
  grid-area: as49;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as50 {
  grid-area: as50;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as51 {
  grid-area: as51;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as52 {
  grid-area: as52;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as53 {
  grid-area: as53;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as54 {
  grid-area: as54;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as55 {
  grid-area: as55;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as56 {
  grid-area: as56;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as57 {
  grid-area: as57;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as58 {
  grid-area: as58;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as59 {
  grid-area: as59;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as60 {
  grid-area: as60;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as61 {
  grid-area: as61;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as62 {
  grid-area: as62;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as63 {
  grid-area: as63;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as64 {
  grid-area: as64;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as65 {
  grid-area: as65;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as66 {
  grid-area: as66;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as67 {
  grid-area: as67;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as68 {
  grid-area: as68;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as69 {
  grid-area: as69;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as70 {
  grid-area: as70;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as71 {
  grid-area: as71;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as72 {
  grid-area: as72;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as73 {
  grid-area: as73;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as74 {
  grid-area: as74;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as75 {
  grid-area: as75;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as76 {
  grid-area: as76;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as77 {
  grid-area: as77;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as78 {
  grid-area: as78;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as79 {
  grid-area: as79;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as80 {
  grid-area: as80;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as81 {
  grid-area: as81;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as82 {
  grid-area: as82;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as83 {
  grid-area: as83;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as84 {
  grid-area: as84;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as85 {
  grid-area: as85;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as86 {
  grid-area: as86;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as87 {
  grid-area: as87;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as88 {
  grid-area: as88;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as89 {
  grid-area: as89;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.as90 {
  grid-area: as90;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

/* GRID COMISIÓN DIRECTIVA */
.containerCD {
  display: grid;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-color: #263d54;
  border-style: solid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cd1 cd2 cd3 cd4 cd5 cd6 cd7 cd8 cd9 cd10"
    "cd11 cd12 cd13 cd14 cd15 cd16 cd17 cd18 cd19 cd20";
}

.cd1 {
  grid-area: cd1;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd2 {
  grid-area: cd2;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd3 {
  grid-area: cd3;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd4 {
  grid-area: cd4;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd5 {
  grid-area: cd5;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd6 {
  grid-area: cd6;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd7 {
  grid-area: cd7;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd8 {
  grid-area: cd8;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd9 {
  grid-area: cd9;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd10 {
  grid-area: cd10;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd11 {
  grid-area: cd11;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd12 {
  grid-area: cd12;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd13 {
  grid-area: cd13;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd14 {
  grid-area: cd14;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd15 {
  grid-area: cd15;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd16 {
  grid-area: cd16;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd17 {
  grid-area: cd17;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd18 {
  grid-area: cd18;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd19 {
  grid-area: cd19;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cd20 {
  grid-area: cd20;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

/* GRID COMISIÓN FISCALIZADORA */

.gridCF {
  display: grid;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  border-color: #263d54;
  border-style: solid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "cf1 cf2 cf3 cf4 cf5 cf6 cf7";
}

.cf1 {
  grid-area: cf1;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cf2 {
  grid-area: cf2;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cf3 {
  grid-area: cf3;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cf4 {
  grid-area: cf4;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cf5 {
  grid-area: cf5;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cf6 {
  grid-area: cf6;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

.cf7 {
  grid-area: cf7;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}

/* FICHAS DE RESULTADOS */

.fichasListas {
  height: auto;
  width: auto;
  align-items: center;
  border: solid;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.divLista1 {
  width: 200px;
  height: 125px;
  padding: 10px;
  background-color: green;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divLista2 {
  width: 200px;
  height: 125px;
  padding: 10px;
  background-color: orange;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divLista3 {
  width: 200px;
  height: 125px;
  padding: 10px;
  background-color: deeppink;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divLista4 {
  width: 200px;
  height: 125px;
  padding: 10px;
  background-color: blue;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divLista5 {
  width: 200px;
  height: 125px;
  padding: 10px;
  background-color: red;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divLista6 {
  width: 200px;
  height: 125px;
  padding: 10px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divLista7 {
  width: 200px;
  height: 125px;
  padding: 10px;
  background-color: black;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divLista8 {
  width: 200px;
  height: 125px;
  padding: 10px;
  background-color: purple;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divLista9 {
  width: 200px;
  height: 125px;
  padding: 10px;
  background-color: cadetblue;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divLista10 {
  width: 200px;
  height: 125px;
  padding: 10px;
  background-color: darkgoldenrod;
  border: 2px solid black;
  border-radius: 10px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/*Colores para las tablas de cargos*/

.fondo-green {
  background-color: green;
  border-radius: 10px;
}

.fondo-orange {
  background-color: orange;
  border-radius: 10px;
}

.fondo-deeppink {
  background-color: deeppink;
  border-radius: 10px;
}

.fondo-blue {
  background-color: blue;
  border-radius: 10px;
}

.fondo-red {
  background-color: red;
  border-radius: 10px;
}

.fondo-grey {
  background-color: grey;
  border-radius: 10px;
}

.fondo-black {
  background-color: black;
  border-radius: 10px;
}

.fondo-purple {
  background-color: purple;
  border-radius: 10px;
}

.fondo-cadetblue {
  background-color: cadetblue;
  border-radius: 10px;
}

.fondo-darkgoldenrod {
  background-color: darkgoldenrod;
  border-radius: 10px;
}

@media only screen and (max-width: 1200px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-areas:
      "gridListas"
      "gridEstatuto";
  }
}

@media only screen and (max-width: 768px) {
  .classPosSeccion {
    flex-direction: column;
  }
}

@media only screen and (max-width: 470px) {
  .containerGrafica {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "as1 as2 as3 as4 as5 as6 as7 as8 as9"
      "as10 as11 as12 as13 as14 as15 as16 as17 as18"
      "as19 as20 as21 as22 as23 as24 as25 as26 as27"
      "as28 as29 as30 as31 as32 as33 as34 as35 as36"
      "as37 as38 as39 as40 as41 as42 as43 as44 as45"
      "as46 as47 as48 as49 as50 as51 as52 as53 as54"
      "as55 as56 as57 as58 as59 as60 as61 as62 as63"
      "as64 as65 as66 as67 as68 as69 as70 as71 as72"
      "as73 as74 as75 as76 as77 as78 as79 as80 as81"
      "as82 as83 as84 as85 as86 as87 as88 as89 as90";
  }

  .containerCD {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "cd1 cd2 cd3 cd4 cd5"
      "cd6 cd7 cd8 cd9 cd10"
      "cd11 cd12 cd13 cd14 cd15"
      "cd16 cd17 cd18 cd19 cd20";
  }
}

@media only screen and (max-width: 420px) {
  .containerGrafica {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "as1 as2 as3 as4 as5 as6"
      "as7 as8 as9 as10 as11 as12"
      "as13 as14 as15 as16 as17 as18"
      "as19 as20 as21 as22 as23 as24"
      "as25 as26 as27 as28 as29 as30"
      "as31 as32 as33 as34 as35 as36"
      "as37 as38 as39 as40 as41 as42"
      "as43 as44 as45 as46 as47 as48"
      "as49 as50 as51 as52 as53 as54"
      "as55 as56 as57 as58 as59 as60"
      "as61 as62 as63 as64 as65 as66"
      "as67 as68 as69 as70 as71 as72"
      "as73 as74 as75 as76 as77 as78"
      "as79 as80 as81 as82 as83 as84"
      "as85 as86 as87 as88 as89 as90";
  }
}


@media only screen and (max-width: 380px) {
  .classPreSeccion {
    flex-direction: column;
  }
}

/*Menú hamburguesa*/
.menu-toggle {
  cursor: pointer;
  display: none;
}

.menu-toggle span {
  background-color: #000000;
  display: block;
  height: 3px;
  width: 25px;
  margin-bottom: 5px;
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .navBar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
      background-color: #333;
  }

  .navBar.show {
      display: flex;
  }

  .navBar li {
      margin: 0;
      text-align: center;
      padding: 10px;
  }

  .menu-toggle {
      display: block;
  }
}